@import './core/Variables';
@import './core/Reset';
body{
    background-color: #000000;
    font-family:$font-main;
}
.header{
    height: 200px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
   .logo{
    height: 250px;
    @media all and (min-width: 768px){
        height: 350px;
	}
   }
   @media all and (min-width: 768px){
    height: 300px;
}
}
.main{
    margin: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 30px;

    @media all and (min-width: 768px){
        gap: 70px;
        margin: 30px;
	}
}








