@import './core/Variables';
@import './core/Reset';
body{
    background-color: #000000;
    font-family:$font-main;
}
.header{
    height: 300px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
   .logo{
    height: 350px;
   }
}
.main{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 70px;
}

.list{
    flex-direction: row;
    justify-content: center;
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr 1fr;
    gap: 50px;
    text-align: center;
    margin-bottom: 70px;

}


.card{
    background-color: #10aec6;
    list-style: none;
    box-shadow: 0 0 2px #fff, 0 0 5px #fff, 0 0 10px #a4f59c, 0 0 15px #a4f59c,
    0 0 30px #a4f59c, 0 0 40px #a4f59c;
    display: flex;
    flex-direction: column;
    
    justify-content: space-around;
    width: 275px;
    .textbluebox{
        height: 150px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

    }
    &__name{
        border-bottom: 0.5px solid rgb(255, 255, 255); 
        padding: 10px 30px 5px 30px;
        color: rgb(255, 255, 255);
        font-size: 18px;
        text-transform: uppercase;
        font-family:$font-main;
    }
    &__species{
        padding: 10px;
        margin: 0;
        font-size: 14px;
        color: rgb(255, 255, 255);
        text-transform: uppercase;
       
        align-self: center;
    
    }
    &__img{
     
        width: 275px;
       
        object-fit: cover;
    
    }
    .logobox{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-left: 10px;
        margin-right: 10px;
        gap: 30px;
        
    }
    .logostatus{
     
        width: 20px;
    }
}



.formbox{
    display: flex;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    gap:30px;

&__input{
    color:gray;
    width: 300px;
    padding: 10px;
    font-size: 16px;
    height: 40px;
    font-family: inherit;
    background-color: #fff;
    border: 2px solid rgb(140, 218, 22);
    border-radius: 4px;
    box-shadow: 0 0 2px #fff, 0 0 5px #fff, 0 0 10px #0ba9ca, 0 0 15px #0ba9ca,
    0 0 30px #0ba9ca, 0 0 40px #0ba9ca;

}
.select{
  
    box-shadow: 0 0 2px #fff, 0 0 5px #fff, 0 0 10px #0ba9ca, 0 0 15px #0ba9ca,
    0 0 30px #0ba9ca, 0 0 40px #0ba9ca;

  
}
&__select{
    color:gray;
    padding: 10px;
    font-size: 16px;
    font-family: inherit;
    height: 40px;
    border: 2px solid rgb(140, 218, 22);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -ms-appearance: none; 
}
&__btn{
    padding: 5px 10px 5px 10px;
	color: white;
    font-size: 16px;
	background-color: red;
	border: 0;
	border-radius: 10px;

    font-family: inherit;

}
}
.error{
    padding-top: 30px;
    font-size: 36px;
    color:#0bcaba;
}