@import "./core/Variables";
@import "./core/Reset";
.detailSuperbox {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-bottom: 300px;
}
.link {
	transform: translate(400px, 170px);
	color: purple;
	font-size: 22px;
	&:hover {
		color: white;
		text-shadow: 0 0 2px #fff, 0 0 5px #fff, 0 0 10px purple, 0 0 15px purple,
			0 0 10px purple, 0 0 20px purple;
	}
}
.detail {
	margin-top: 200px;
	color: white;
	background-color: #1a5b35;
	border-radius: 6px;
	width: 900px;
	height: 500px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding-left: 90px;
	gap: 50px;
	font-family: $font-main;
	box-shadow: 0 0 2px #fff, 0 0 5px #fff, 0 0 10px #a4f59c, 0 0 15px #a4f59c,
		0 0 30px #a4f59c, 0 0 40px #a4f59c;
	&__image {
		align-self: center;
		justify-self: center;
		&:hover {
			transform: scale(1.05, 1.05);
			transition: transform 2s;
		}
		&:not(:hover) {
			transition: transform 2s;
		}
	}
	.detailtextbox {
		text-transform: uppercase;
		display: flex;
		flex-direction: column;
		align-self: center;
		gap: 20px;
	}
	&__name {
		font-size: 30px;
	}
	.detailspan {
		font-weight: 200;
		margin-right: 6px;
	}
}
